MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD= # TODO: provide a password for the root user
MONGO_INITDB_DATABASE=data-buddy
MONGO_USER=user
MONGO_PASSWORD= # TODO: provide a password for the app user
UP_MATE_DB_USER=user
UP_MATE_DB_PASS= # TODO: provide the same password to the app to connect
UP_MATE_USERS_CSV=John,Jane


UP_MATE_NOTIFY_CHANNEL_TEMPLATE=up-mate-notify-{user}
UP_MATE_NOTIFY_HOST= # TODO: (optional, required for push notifications) specify domain name for NTFY host
UP_MATE_NOTIFY_TOKEN= # TODO: (optional, required for push notifications) token for push permissions to channels
UP_MATE_DOMAIN_NAME= # TODO: domain name app is served at (used to link back to app from notifications)
UP_MATE_NOTIFICATION_LINK_USE_HTTPS=True # change to false to have notifications use http:// to link to the server (not recommended)

UP_MATE_DEBUG=False # change to True for increased logging
