{% set title=me %}
{% extends '_base.html' %}

{% block head %}
<script>
    function get_mate_info() {
        {% for mate in mates %}
        $.post('/api/get', {user:'{{ mate }}'}, function(data) {
            console.log(data);
            ['pain_level'].forEach(function (v) {
                console.log("data is", data);
                var item= `#mate-${v}`
                var value=data[v]
                console.log(`Setting ${item} to ${value}`)
                $(item).val(value)
            });

            ['notes'].forEach(function (v) {
                console.log("data is", data);
                var item= `#mate-${v}`
                var value=data[v]
                console.log(`Setting ${item} to ${value}`)
                $(item).html(value)
            })
            $('#mate-pain_current').html($('#mate-pain_level').val())
        }).fail(function (err) {
            console.log("No status for {{mate}}", err)
            $('#mate-pain_level').val(0)
            $('#mate-pain_current').html($('#mate-pain_level').val())
            $('#mate-notes').html('Nothing here yet... ')
        })
        {% endfor %}
    }

    function show_main() {
        get_mate_info()

        $('#loading').hide()
        $('#app').show()
    }

    function init() {
        $('#update').on('submit', function(e) {
            e.preventDefault();
            $('#submit').attr('disabled', true)
            $('#submitMessage').html('<span class="spinning-icon">&#x21BB;</span>').show()

            console.log("submitting", $(this), $(this).serialize())

            $.post('/api/update', $(this).serialize(), () => {
                $('#submit').attr('disabled', false)
                $('#submitMessage').html('<span>Saved</span>').delay(800).fadeOut()
            })
        })

        $('#pain_level').on('input', function(e) {
            $('#pain_current').html($(this).val())
        })

        $('#myTab button').each((i, v) => {
            console.log(v)
            var tabTrigger = new bootstrap.Tab(v)

            $(v).on('click', (e) => {
                e.preventDefault()
                tabTrigger.show()
            })
        })

        $.post('/api/get', {user:'{{ me }}'}, function(data) {
            console.log(data);
            ['pain_level', 'notes'].forEach(function (v) {
                $(`#${v}`).val(data[v])
            })
            $('#pain_current').html($('#pain_level').val())
            show_main()
        }).fail(function (err) {
            console.log("Could not retrieve self", err)
            $('#pain_level').val(0)
            show_main()
        })
    }

    $(window).ready(init);

    setInterval(get_mate_info, 10*60*1000); // 10 minutes * 60 S/min * 1k mS/S
</script>
{% endblock %}

{% block body %}
<div id="app" style="display: none">
        <p id="loading" style="display: block;">loading...</p>
        <ul class="nav nav-dark nav-tabs">
            <li class="nav-item border rounded-top ">
                <a class="nav-link border active" data-toggle="tab" href="#me">Me</a>
            </li>
            {% for mate in mates %}
            <li class="nav-item border rounded-top">
                <a class="nav-link" data-toggle="tab" href="#mate-{{mate}}">{{ mate }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="me">
                <form id="update">
                    <input type="hidden" name="user" value="{{ me }}"></input>
                    <p>
                        <label for="pain_current">How is your pain today?<br/>
                        </label>
                        <div class="row">

                            <div class="col-sm-2">
                                <span id="pain_current" style="width: 2em; display: inline-block;">0</span> &nbsp;
                            </div>
                            <div class="col-sm-10">
                                <input style="width:100%" id="pain_level" type="range" name="pain_level" min="0" max="10" step=".5" list="tickmarks" class="form-range"></input>
                                <datalist id="tickmarks">
                                    <option value="0" label="0"></option>
                                    <option value="0.5"></option>
                                    <option value="1" label="1"></option>
                                    <option value="1.5"></option>
                                    <option value="2" label="2"></option>
                                    <option value="2.5"></option>
                                    <option value="3" label="3"></option>
                                    <option value="3.5"></option>
                                    <option value="4" label="4"></option>
                                    <option value="4.5"></option>
                                    <option value="5" label="5"></option>
                                    <option value="5.5"></option>
                                    <option value="6" label="6"></option>
                                    <option value="6.5"></option>
                                    <option value="7" label="7"></option>
                                    <option value="7.5"></option>
                                    <option value="8" label="8"></option>
                                    <option value="8.5"></option>
                                    <option value="9" label="9"></option>
                                    <option value="9.5"></option>
                                    <option value="10" label="10"></option>                
                                </datalist>
                            </div>
                        </div>
                    </p>
                    
                    <p>
                        <label for="notes">Notes (optional):<br/>
                        </label>
                        <div class="row">

                            <div class="col-sm-12">
                            <textarea id="notes" name="notes" style="width: 100%" resizable="true" default_rows="3"></textarea>
                            </div>
                        </div>
                    </p>
                    
                    <div class="row">

                        <button id="submit" class="btn btn-primary rounded-pill mx-auto" type="submit">Send</button>
                    </div>
                    <div class="row">
                        <div id="submitMessage" class="mx-auto"></div>
                    </div>
                </form>
            </div>
            {% for mate in mates %}
            <div class="tab-pane fade" id="mate-{{mate}}">
                 <form disabled="true">
                    <h1>{{ mate }}</h1>
                    <div class="row">
                        <div class="col-sm-2">
                            <span id="mate-pain_current" style="width: 2em; display: inline-block;">0</span> &nbsp;
                        </div>
                        <div class="col-sm-10">
                            <input disabled="true" style="width:100%" id="mate-pain_level" type="range" name="pain_level" min="0" max="10" step=".5" list="mate-{{ mate }}-tickmarks" class="form-range"></input>
                            <datalist id="mate-{{ mate }}-tickmarks">
                            <option value="0" label="0"></option>
                            <option value="0.5"></option>
                            <option value="1" label="1"></option>
                            <option value="1.5"></option>
                            <option value="2" label="2"></option>
                            <option value="2.5"></option>
                            <option value="3" label="3"></option>
                            <option value="3.5"></option>
                            <option value="4" label="4"></option>
                            <option value="4.5"></option>
                            <option value="5" label="5"></option>
                            <option value="5.5"></option>
                            <option value="6" label="6"></option>
                            <option value="6.5"></option>
                            <option value="7" label="7"></option>
                            <option value="7.5"></option>
                            <option value="8" label="8"></option>
                            <option value="8.5"></option>
                            <option value="9" label="9"></option>
                            <option value="9.5"></option>
                            <option value="10" label="10"></option>                
                        </datalist>
                        </div>
                    </div>
                    
                    <p>
                        Notes:
                        <pre class="mate-notes" id="mate-notes">Loading...</pre>
                    </p>

                </form>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
