{% set title='Home' %}
{% extends '_base.html' %}

{% block head %}
<script>
    function get_mate_info() {
        $.post('/api/get', {user:'{{ mate }}'}, function(data) {
            console.log(data);
            ['pain_level'].forEach(function (v) {
                console.log("data is", data);
                var item= `#mate-${v}`
                var value=data[v]
                console.log(`Setting ${item} to ${value}`)
                $(item).val(value)
            });

            ['notes'].forEach(function (v) {
                console.log("data is", data);
                var item= `#mate-${v}`
                var value=data[v]
                console.log(`Setting ${item} to ${value}`)
                $(item).html(value)
            })
            $('#mate-pain_current').html($('#mate-pain_level').val())
        })
    }

    function init() {
        $('#update').on('submit', function(e) {
            e.preventDefault();

            console.log("submitting", $(this), $(this).serialize())

            $.post('/api/update', $(this).serialize())
        })

        $('#pain_level').on('input', function(e) {
            $('#pain_current').html($(this).val())
        })

        $('#myTab button').each((i, v) => {
            console.log(v)
            var tabTrigger = new bootstrap.Tab(v)

            $(v).on('click', (e) => {
                e.preventDefault()
                tabTrigger.show()
            })
        })

        $.post('/api/get', {user:'{{ me }}'}, function(data) {
            console.log(data);
            ['pain_level', 'notes'].forEach(function (v) {
                $(`#${v}`).val(data[v])
            })
            $('#pain_current').html($('#pain_level').val())
            get_mate_info()

            // bootstrap.Tab.getInstance($('#me')[0]).show()

            $('#loading').hide()
            $('#app').show()
        })
    }

    $(window).ready(init);
</script>
{% endblock %}

{% block body %}
    Welcome to up-mate!

    <p id="loading" style="display: block;">loading...</p>
    <div id="app" style="display: none">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#me">Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#mate">Mate</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="me">
                <form id="update">
                    <input type="hidden" name="user" value="{{ me }}"></input>
                    <p>
                        <label>How is your pain today?<br/>
                            <span id="pain_current" style="width: 2em; display: inline-block;">0</span> &nbsp;
                            <input id="pain_level" type="range" name="pain_level" min="0" max="10" step=".5" list="tickmarks" class="form-range"></input>
                        </label>
                        <datalist id="tickmarks">
                            <option value="0" label="0"></option>
                            <option value="0.5" label=""></option>
                            <option value="1" label="1"></option>
                            <option value="1.5" label=""></option>
                            <option value="2" label="2"></option>
                            <option value="2.5" label=""></option>
                            <option value="3" label="3"></option>
                            <option value="3.5" label=""></option>
                            <option value="4" label="4"></option>
                            <option value="4.5" label=""></option>
                            <option value="5" label="5"></option>
                            <option value="5.5" label=""></option>
                            <option value="6" label="6"></option>
                            <option value="6.5" label=""></option>
                            <option value="7" label="7"></option>
                            <option value="7.5" label=""></option>
                            <option value="8" label="8"></option>
                            <option value="8.5" label=""></option>
                            <option value="9" label="9"></option>
                            <option value="9.5" label=""></option>
                            <option value="10" label="10"></option>                
                        </datalist>
                    </p>
                    
                    <p>
                        <label>Notes (optional):<br/>
                            <textarea id="notes" name="notes" resizable="true" default_rows="3"></textarea>
                        </label>
                    </p>
                    
                    <p>
                        <button class="btn btn-primary rounded-pill" type="submit">Send</button>
                    </p>
                </form>
            </div>
            <div class="tab-pane fade" id="mate">
                 <form disabled="true">
                    <p>
                        <label>How is your pain today?<br/>
                            <span id="mate-pain_current" style="width: 2em; display: inline-block;">0</span> &nbsp;
                            <input disabled="true" id="mate-pain_level" type="range" name="pain_level" min="0" max="10" step=".5" list="tickmarks" class="form-range"></input>
                        </label>
                        <datalist id="tickmarks">
                            <option value="0" label="0"></option>
                            <option value="0.5" label=""></option>
                            <option value="1" label="1"></option>
                            <option value="1.5" label=""></option>
                            <option value="2" label="2"></option>
                            <option value="2.5" label=""></option>
                            <option value="3" label="3"></option>
                            <option value="3.5" label=""></option>
                            <option value="4" label="4"></option>
                            <option value="4.5" label=""></option>
                            <option value="5" label="5"></option>
                            <option value="5.5" label=""></option>
                            <option value="6" label="6"></option>
                            <option value="6.5" label=""></option>
                            <option value="7" label="7"></option>
                            <option value="7.5" label=""></option>
                            <option value="8" label="8"></option>
                            <option value="8.5" label=""></option>
                            <option value="9" label="9"></option>
                            <option value="9.5" label=""></option>
                            <option value="10" label="10"></option>                
                        </datalist>
                    </p>
                    
                    <p>
                        Notes:
                        <pre><span id="mate-notes"></span></pre>
                    </p>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
